{% extends 'base.html' %}
<!-- DEFI : CREER UN FORMULAIRE AVEC 3 CHAMPS / INPUTS avec chacun leur label :
                * NOM 
                * MDP
                * MDP verif
                
                + un bouton pour valider le post -->
{% block content %}
        <div class="flex items-center justify-center">
                <form method = "POST" action="">
                        <h1 class = "font-bold text-2xl mb-4 text-center"> Créer un compte :</h1>
                        <div class = "mb-4">
                                <label class = "block text-sm text-gray-700 semi-bold mb-2"> Utilisateur </label>
                                <input class = "bg-grey-100 w-full p-3 border rounded" name ="utilisateur" placeholder = "Nom d'utilisateur">
                        </div>
                        <div  class = "mb-4" >
                                <label class = "block text-sm text-gray-700 semi-bold mb-2" > Mot de passe </label>
                                <input class="bg-grey-100 w-full p-3 border rounded" name="password" type="password" placeholder="Mot de passe">
                        </div>
                        <div class = "mb-4">
                                <label class = "block text-sm text-gray-700 semi-bold mb-2" > Vérification mot de passe </label>
                                <input class="bg-grey-100 w-full p-3 border rounded" name="password" type="password" placeholder="Mot de passe">
                        </div>


                </form>

        </div>
{% endblock %}